.container {
  max-width: 1240px;
  margin: 0 auto;
}

@media (max-width: 1270px) {
  .container {
    max-width: 1240px;
    padding: 0px 15px;
    margin: 0 auto;
  }
}

.main_wrapper {
  background: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  max-width: 2100px;
  margin: 0 auto;
}

@media (max-width: 1930px) {
  .main_wrapper {
    background-position: top right -5vw;
  }
}
@media (max-width: 1755px) {
  .main_wrapper {
    background-position: top right -10vw;
  }
}
@media (max-width: 1470px) {
  .main_wrapper {
    background-position: top right -24vw;
  }
}
@media (max-width: 1310px) {
  .main_wrapper {
    background-position: top right -33vw;
  }
}
header {
  padding: 30px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }
}
.menu {
  display: flex;

  ul {
    display: flex;
    font-size: 14px;
    gap: 30px;

    li {
      list-style-type: none;
      color: #1730bd;
      font-weight: 400;
      cursor: pointer;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}
.menu ul li a:hover {
  opacity: 70%;
}

.extra {
  display: flex;
  gap: 30px;
  color: white;

  a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  .buttons {
    display: flex;
    gap: 15px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.main {
  .container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    button {
      width: 49%;
      padding: 32px 0;
      background: white;
      box-shadow: 0 4px 40px 0 rgba(99, 138, 225, 0.15);
      color: #1730bd;
      font-size: 18px;
      border-radius: 0px 0px 30px 0px;
      position: relative;
      overflow: hidden;
    }
  }
}
.main .buttons button::after {
  content: url("../images/main-button.svg");
  position: absolute;
  bottom: -10px;
  right: 0;
}
.main .buttons button:hover {
  background: #1730bd;
  color: white;
}
.info {
  display: flex;
}
.info_block {
  width: 50%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  h1 {
    color: #1730bd;
    font-weight: 700;
    font-size: 55px;
    line-height: 0.8;
    margin-bottom: 30px;
    max-width: 60%;
    font-family: "Montserrat Alternates", sans-serif;
  }
  h2 {
    font-size: 22px;
    color: #1730bd;
    text-transform: lowercase;
    max-width: 80%;
  }
}
.info_block:last-child {
}
